@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;600&family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
   
}
body{
   
    background-color: black;

}
#bg{
    width: 100%;
    height: 100vh;
    
    background-image: url(ph/abhi2.png);
    background-repeat: no-repeat;
    background-position:right;
    background-attachment: fixed;
    background-size:72%;
}
header{
    background: rgb(27,21,94);
    background: linear-gradient(180deg, rgba(38, 46, 60, 0.53) 8%, rgb(0, 53, 121) 46%, rgba(121, 25, 25, 0.05) 100%);
    height: 150px;
    display: flex;
    z-index: 99;
    
    
}
header h1{
    margin: auto 200px;
    color: rgb(253, 253, 253);
    font-family: 'Josefin Sans', sans-serif;
    background: rgba(27, 21, 94, 0);
    display: flex;
    font-size: xx-large;

}
header h1 p{
    color: red;
    background-color: rgba(250, 235, 215, 0);
    transition: 0.8s;

}
header h1 p:hover{
    transform: rotateY(360deg);
    
}
nav{
    display: flex;
   margin-left: auto;
   margin-top: auto ;
   margin-bottom: auto;
   z-index: 4;
}
nav ul{
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-size: x-large;
   
}
nav ul li{
    list-style-type: none;
    padding-right: 70px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, crimson,pink,springgreen);
  background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  z-index: 5;
  position: relative;
  
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #124e84;
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:hover{
    color:rgba(0,0,0,0);
    
  }
  @keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  }


main{
    /* display: flex; */
    min-height: calc(100vh-50px);
   
}
.sec1{
    
   display: flex;
    min-height: calc(100vh-50px);
    color: rgb(255, 255, 255);
    font-family:"Abril Fatface", sans-serif;
    font-size: xxx-large;
}
.sec1 h1{
   
    margin-top: 13%;
    margin-left: 43%;
    width: 681px;
    color: white;
    z-index: 3;
    background: linear-gradient(to right, crimson,pink,springgreen);
    background-size: 200% 200%;
      animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
}
.sec1 p{
    color: rgba(255, 255, 255, 0.486);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    margin-left: 43%;


}
.t{
    height: 100vh;
    margin-left: -134px;
    margin-top: 107px;
    z-index: 1;
    background: linear-gradient(to right, crimson,pink,springgreen);
  background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
}
.sec1 img{
   
    margin-top: -144px;
  margin-right: 15%;
  margin-left: -6%;
  width: 60vw;
  height: 60vw;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    z-index: 0;
    
}
.sec2{
    margin-top: 100px;
    display: flex;
    background-color: rgba(0, 255, 255, 0);
    justify-content: center;
}

.about{
    padding: 80px;
    background-color: #124e84;
    height: 700px;
    width: 80vw;
  
}
.about h1{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Quicksand', sans-serif;

    font-size: xx-large;
    margin-left: 3%;
    
     
      
}
.con{
    display: flex;
}
.con img{
    width: 35vw;
    height: 70vh;
    margin-top: 20px;
    margin-left: 25px;
}
.con img:hover{
    filter: grayscale(100%);
    -webkit-filter: grayscale(50%);

    
}
.heading{
  display: flex;
  /* justify-content: center; */
}
.info{
    display: flex;
    align-self: center;
    /* margin-top: auto; */
    margin-left: 72px;
    /* display: none; */
    transition: 0.5s;

}

.info ul{
    
    color: white;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: xX-large;
    font-weight: 400;
    margin-top: 50px;

}
.info li{
    display: flex;
    margin-top: -15px;
}
.info p{
    text-decoration:underline rgb(136, 80, 80) dotted;
}
#abtme input{
  background-color: rgba(34, 75, 198, 0);
  border: black 2px solid;
  color: white;
  width: 165px;
  font-family: 'Quicksand', sans-serif;
  margin-left: auto;

}
.info2{
  display: flex;
  align-self: center;
  /* margin-top: auto; */
  margin-left: 72px;
  display: none;
  transition: 0.5s;


}

.info2 ul{
  
  color: white;
  list-style-type: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: xX-large;
  font-weight: 400;
  margin-top: 50px;

}
.info2 li{
  margin-bottom: 4%;
  /* display: flex; */
  /* margin-top: -x; */
}
.info2 p{
  /* text-decoration:underline rgb(136, 80, 80) dotted; */
  color: bisque;
}
#abtme input:hover{
  background-color: #15192c;
}
.sec3{
   
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}
.sec3 h1{
    color: white;
}
.grid{
    margin: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #1f1d1db6;
    padding: 10px;
    height: 50vh;
  }
  .g{
    background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 50 vh;
  margin: 2%;
  padding: 2%;
  font-size: x-small;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  }
  .g img{
    padding-top: 10%;
    height: 20vh;
   

  }
  .g a{
    text-decoration: none;
  }
  .g p{
    margin-top: 5%;
    font-size: large;
   color: black;
   font-family: 'Josefin Sans', sans-serif;
   font-weight: bold;

  }
  .g:hover{
    background-color: rgba(92, 90, 90, 0.8);;
  }
  .g2 a{
    display: flex;
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    
    /* padding: 2%; */

  }
  .g2 a:hover{
    background-color: #15192c;
  }
  .g2 img{
    margin-left: auto;
  }
  .g2{
    border: #000000 2px solid;
    border-radius: 4px;
    margin-bottom: 1%;
  }
  .projinfo{
    margin: auto 2%;
  }
  .projinfo p{
    font-size: large;
  }
  .projinfo h3{
    font-weight: bolder;
    padding-bottom: 1%;
  }
  .grid2{
    margin-top: 2%;
  }
  .contact{
    /* display: flex; */
    color:white;
    margin: 7%;
  }
  .contact h1{
    font-family:"Abril Fatface", sans-serif;
  }
  .s{
    /* display: flex; */
  }
  .s1{
    margin-top: 20px;
    display: flex;
  }
  .s1 ul{
    display: flex;
    list-style-type: none;
  }
 
  .logo{
    height: 4vh;
    position:static;
    /* width: 2vw; */
  }
  /* .iglogo{
    height: 5vh;
  } */
  .s1 li{
    margin-right: 30px;
  }
  .s2{
    /* margin-left: 5%; */
    margin-top: 2%;
    font-family: 'Quicksand', sans-serif;
  }
  .s2 p{
    text-decoration: underline white 2px solid;
  }
 .things{
    display: flex;
 }
 .cv{
    margin-left: auto;
    background-color: #124e84;
    height: 3rem;
    width: 10rem;
    display: flex;

 }
 .cv a{
    margin: auto;
    color: black;
    text-decoration: none;
    font-family:"Abril Fatface", sans-serif;

 }
 footer{
    display: flex;
    background-color: #124e84;
    height: 40vh;
  }
  .text{
    
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    margin: auto;
    color: white;
    font-family: 'Manrope', sans-serif;
  }